{% extends 'menu.html' %}

{% block content %}

<a id="success-link" style="display:none;" onclick="new PNotify({
    title: 'Mensaje de Éxito',
    text: 'Se registro y guardo la CUENTA DE TELETRABAJO correctamente.',
    type: 'success',
    icon: 'fa fa-check-circle fa-2x',  
    styling: 'bootstrap3'
}); ">Posi</a>

<a id="error-link" style="display:none;" onclick="new PNotify({
    title: 'Oh No!',
    text: 'Ocurrió un error al guardar los datos.',
    type: 'error',
    icon: 'fa fa-exclamation-triangle fa-2x', 
    styling: 'bootstrap3'
});">Error</a>

<a id="editar-link" style="display:none;" onclick="new PNotify({
    title: 'Datos Editados',
    text: 'Los datos editados se registraron y guardaron correctamente.',
    icon: 'fa fa-edit fa-2x',  
    styling: 'bootstrap3',
});">Editar</a>

<a id="asignar-link" style="display:none;" onclick="new PNotify({
    title: 'Empleado Asignado',
    text: 'Se asigno la CUENTA DE TELETRABAJO correctamente.',
    type: 'info',
    styling: 'bootstrap3',
    addclass: 'dark',
    icon: 'fa fa-user fa-2x',  
    
});">Asignar</a>


<a id="devolver-link" style="display:none;" onclick="new PNotify({
    title: 'Baja Cuenta',
    text: 'Se dio de BAJA la CUENTA DE TELETRABAJO correctamente.',
    type: 'info',
    styling: 'bootstrap3',
    icon: 'fa fa-refresh fa-2x',  
    
});">Devolver</a>

<a id="activar-link" style="display:none;" onclick="new PNotify({
    title: 'Registro Activado',
    text: 'Se activo el registro correctamente.',
    type: 'info',
    styling: 'bootstrap3',
    icon: 'fa fa-plus-circle fa-2x',  
    
});">activar</a>

<a id="desactivar-link" style="display:none;" onclick="new PNotify({
    title: 'Registro Desactivado',
    text: 'Se desactivo el registro correctamente.',
    type: 'error',
    icon: 'fa fa-trash-o fa-2x', 
    styling: 'bootstrap3'
});">desactivar</a>

<div class="page-title">
    <div class="col-md-12 mx-3">
        <h3>Cuentas para Teletrabajo <button class="btn btn-round btn-success " data-toggle="modal"
            data-target=".bs-example-modal-lg"><li class="fa fa-plus"></li> Agregar Nueva Cuenta</button></h3>
        <br>
    </div>
</div>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Listado de cuentas para Teletrabajo</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Equipo o Periferico</th>
                                    <th>IP equipo<br/>Tipo Acceso</th>
                                    <th>Firmware</th>
                                    <th>DST</th>
                                    <th>Empleado Asignado</th>
                                    <th>Activo</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if datos %}
                                {% for dato in datos %}
                                <tr>
                                    <td class="text-center">{{ dato.id_teletrabajo }}</td>
                                    <td class="text-center">{{ dato.fecha }}</td>
                                    <td class="text-center">{{ dato.equipo.nombre }}</td>
                                    <td class="text-center">{{ dato.ip_equipo }}<br/>{{ dato.tipo_acceso }}</td>
                                    <td class="text-center">{{ dato.firmware }}</td>
                                    <td class="text-center">{{ dato.dst }}</td>
                                    <td class="text-center">
                                        {% if dato.estado == True %}
                                            {{ dato.asignado.empleado.first_name }} {{ dato.asignado.empleado.last_name }}
                                        {% else %}
                                        <a href="#"  
                                        data-toggle="modal"
                                        data-target="#asignar"
                                        data-sis="{{ dato.ip_equipo  }}" 
                                        data-usu="{{ dato.equipo.nombre}}" 
                                        data-id="{{ dato.id_teletrabajo }}" > 
                                        <span class="badge badge-secondary" style="font-size: 12px;"><li class="fa fa-cogs"></li><br/> Asignar Nuevo</span> </a>
                                        {% endif %}
                                    </td>
                                     
                                    <td class="text-center">
                                        {% if dato.activo %}
                                            <li class="fa fa-check fa-2x" style="color: blue;"></li>
                                        {% else %}
                                            <li class="fa fa-times fa-2x" style="color: red;"></li>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                      
                                      
                                        <button class="btn btn-success btn-sm" 
                                                data-toggle="modal" 
                                                data-target="#editModal"
                                                data-id="{{ dato.id_teletrabajo }}"  >
                                            <li class="fa fa-edit"></li>  
                                        </button>
                                  

                                       
                                     
                                        {% if dato.estado == True %}
                                        
                                            <button class="btn btn-primary btn-sm" 
                                                    data-toggle="modal" 
                                                    data-target="#devolver"
                                                    data-id="{{ dato.id_teletrabajo }}" 
                                                    data-cuenta="{{ dato.equipo.nombre }}" 
                                                    data-ip="{{ dato.ip_equipo }}" 
                                                    data-empleado=" {{ dato.asignado.empleado.first_name }} {{ dato.asignado.empleado.last_name }}"  > 
                                                    <a  
                                                        data-toggle="tooltip" 
                                                        data-placement="top" title="" 
                                                        data-original-title="Presiona para registrar la baja de la cuenta">
                                                        <li class="fa fa-undo"></li>  
                                                    </a>
                                            </button>
                                        
                                       
                                        {% endif %}


                                        {% if dato.activo == 1 %}
                                            <button class="btn btn-danger btn-sm"
                                            data-toggle="modal" 
                                            data-target="#eliminar"
                                            data-id="{{ dato.id_teletrabajo }}"  >
                                                <li class="fa fa-trash"></li>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-info btn-sm"
                                            data-toggle="modal" 
                                            data-target="#activar"
                                            data-id="{{ dato.id_teletrabajo }}"  >
                                                <li class="fa fa-plus-square-o"></li>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL PARA AGREGAR  -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <form action="agregar_cuenta_teletrabajo" method="POST" id="demo-form2"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Agregar nueva Cuenta de Sistemas</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombre_equipo">Usuario Asignado (nombre del equipo)</label>
                             
                            <select id="nombre_equipo" name="nombre_equipo" class="selectize" required>
                                <option value="">Selecciona un equipo...</option>
                                {% for equipo in equipos %}
                                <option value="{{equipo.id_equipo}} ">{{equipo.codigo_equipo}} - {{equipo.nombre}} </option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="fecha">Fecha</label>
                            <input type="date" id="fecha" name="fecha" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ip_teletrabajo">IP cuenta</label>
                            <input type="text" id="ip_teletrabajo" name="ip_teletrabajo" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="tipo_acceso">Tipo de Acceso</label>
                            <select class="selectize" id="tipo_acceso" name="tipo_acceso" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="ACCESO DE SERVIDOR">ACCESO DE SERVIDOR</option>
                                <option value="CONTROL REMOTO">CONTROL REMOTO</option>
                                <option value="CONTROL REMOTO/ACCESO DE SERVIDOR">CONTROL REMOTO/ACCESO DE SERVIDOR</option>
                
                            </select>
                        </div>
                      
                        <div class="form-group col-md-12">
                            <label for="empleado">Empleado Asignado</label>
                            <select id="empleado" name="empleado" class="selectize" required>
                                <option value="">Selecciona un empleado...</option>
                                {% for user in usuarios %}
                                <option value="{{user.id}} ">{{user.first_name}} {{user.last_name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firmware">FIRMWARE INTERNET
                            </label>
                            <select class="selectize" id="firmware" name="firmware" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="CON RESTRICCION">CON RESTRICCION</option>
                                <option value="SIN RESTRICCION">SIN RESTRICCION</option>
                                
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dst">DECLARACION DST-001
                            </label>
                            <select class="selectize" id="dst" name="dst" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="FIRMADO">FIRMADO</option>
                                <option value="NO APLICA">NO APLICA</option>
                                
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="observaciones">Observaciones</label>
                            <textarea name="observaciones" id="observaciones" class="form-control"></textarea>
                        </div>
                    </div>

                     
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- MODAL PARA ASIGNAR EQUIPO A EMPLEADO -->
<div class="modal fade bs-example-modal-lg-asignar" id="asignar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <form action="asignar_cuenta_teletrabajo" method="POST" id="demo-form2"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Asignar Cuenta para teletrabajo</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombre_equipo_asignar">Nombre de la Cuenta (Equipo o Periferico) </label>
                            <input type="text" id="nombre_equipo_asignar" name="nombre_equipo_asignar" class="form-control" readonly>
                            <input type="hidden" id="id_asignar" name="id_asignar" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ip_equipo">IP de conexion </label>
                            <input type="text" id="ip_equipo" name="ip_equipo" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fecha_asig">Fecha Asignado (^)</label>
                            <input type="date" id="fecha_asig" name="fecha_asig" class="form-control" required>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="empleado_asig">Empleado para Asignar (*)</label>
                           
                            <select id="empleado_asig" name="empleado_asig" class="selectize" required>
                                <option value="">Selecciona un empleado...</option>
                                {% for user in usuarios %}
                                <option value="{{user.id}} ">{{user.first_name}} {{user.last_name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                    
                        <div class="form-group col-md-12">
                            <label for="observacion_asig">Observacion</label>
                            <textarea name="observacion_asig" id="observacion_asig" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- MODAL PARA DEVOLVER UN EQUIPO -->
<div class="modal fade bs-example-modal-lg-asignar" id="devolver" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <form action="devolver_cuenta_teletrabajo" method="POST" id="demo-form2"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registrar la Baja del asignado a la Cuenta de Teletrabajo</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="sistema_devolver">Direccion IP </label>
                            <input type="text" id="sistema_devolver" name="sistema_devolver" class="form-control" readonly>
                           
                        </div>
                        <div class="form-group col-md-12">
                            <label for="usuario_devolver">Usuario Asignado (Nombre de Equipo o Periferico)</label>
                            <input type="text" id="usuario_devolver" name="usuario_devolver" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="empleado_devolver">Empleado Asignado</label>
                            <input type="hidden" id="id_devolver" name="id_devolver" class="form-control" readonly>
                            <input type="text" id="empleado_devolver_nombre" name="empleado_devolver_nombre" class="form-control" readonly>
                        </div>
                    
                        <div class="form-group col-md-12">
                            <label for="observacion_devolver">Observacion</label>
                            <textarea name="observacion_devolver" id="observacion_devolver" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>

    </div>
</div>


<!-- MODAL PARA EDITAR REGISTRO -->
<div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <form action="editar_cuenta_teletrabajo" method="POST" id="demo-form2"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Editar Cuenta de Teletrabajo</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombre_equipo_editar">Usuario Asignado (nombre del equipo)</label>
                             
                            <select id="nombre_equipo_editar" name="nombre_equipo_editar" class="form-control" >
                                <option value="">Selecciona un equipo...</option>
                                {% for equipo in equipos %}
                                <option value="{{equipo.id_equipo}}">{{equipo.codigo_equipo}} - {{equipo.nombre}} </option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="fecha_editar">Fecha</label>
                            <input type="date" id="fecha_editar" name="fecha_editar" class="form-control" required>
                            <input type="hidden" id="id_tele" name="id_tele" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ip_teletrabajo_editar">IP cuenta</label>
                            <input type="text" id="ip_teletrabajo_editar" name="ip_teletrabajo_editar" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="tipo_acceso_editar">Tipo de Acceso</label>
                            <select class="form-control" id="tipo_acceso_editar" name="tipo_acceso_editar" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="ACCESO DE SERVIDOR">ACCESO DE SERVIDOR</option>
                                <option value="CONTROL REMOTO">CONTROL REMOTO</option>
                                <option value="CONTROL REMOTO/ACCESO DE SERVIDOR">CONTROL REMOTO/ACCESO DE SERVIDOR</option>
                
                            </select>
                        </div>
                      
                        
                        <div class="form-group col-md-6">
                            <label for="firmware_editar">FIRMWARE INTERNET
                            </label>
                            <select class="form-control" id="firmware_editar" name="firmware_editar" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="CON RESTRICCION">CON RESTRICCION</option>
                                <option value="SIN RESTRICCION">SIN RESTRICCION</option>
                                
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dst_editar">DECLARACION DST-001
                            </label>
                            <select class="form-control" id="dst_editar" name="dst_editar" required>
                                <option value="">Selecciona una opcion...</option>
                                <option value="FIRMADO">FIRMADO</option>
                                <option value="NO APLICA">NO APLICA</option>
                                
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="observaciones_editar">Observaciones</label>
                            <textarea name="observaciones_editar" id="observaciones_editar" class="form-control"></textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="eliminar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="form-seleccionados" action="eliminar_cuentas_teletrabajo" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center mt-4">
                        <li class="fa fa-5x fa-exclamation-triangle"></li>
                        <h4 class="mt-2">Confirma si deseas desactivar esta Cuenta de Teletrabajo?</h4>
                    </div>
                        
                    <input type="hidden" name="id_eliminar" id="id_eliminar">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Desactivar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="activar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="form-seleccionados" action="activar_cuentas_teletrabajo" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center mt-4">
                        <li class="fa fa-5x fa-plus-square-o"></li>
                        <h4 class="mt-2">Confirma si deseas Activar esta Cuenta de Teletrabajo?</h4>
                    </div>
                        
                    <input type="hidden" name="id_activar" id="id_activar">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Activar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('success-link') && '{{ request.GET.success }}') {
        document.getElementById('success-link').click();
    }
    if (document.getElementById('error-link') && '{{ request.GET.error }}') {
        document.getElementById('error-link').click();
    }
    if (document.getElementById('editar-link') && '{{ request.GET.editar }}') {
        document.getElementById('editar-link').click();
    }
    if (document.getElementById('asignar-link') && '{{ request.GET.asignar }}') {
        document.getElementById('asignar-link').click();
    }
    if (document.getElementById('devolver-link') && '{{ request.GET.devolver }}') {
        document.getElementById('devolver-link').click();
    }
    if (document.getElementById('activar-link') && '{{ request.GET.activar }}') {
        document.getElementById('activar-link').click();
    }
    if (document.getElementById('desactivar-link') && '{{ request.GET.desactivar }}') {
        document.getElementById('desactivar-link').click();
    }
    
    $('#empleado_asignado').selectize(); 
    $('#empleado').selectize(); 
    $('#tipo_acceso').selectize();
    $('#nombre_sistema').selectize();
    $('#empleado_asig').selectize();
    $('#nombre_equipo').selectize();
 
    $('#dst').selectize();
    $('#firmware').selectize();
    
});

$('#eliminar').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   
    var id_datos = button.data('id');    
    $('#id_eliminar').val(id_datos);
});
$('#activar').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   
    var id_datos = button.data('id');    
    $('#id_activar').val(id_datos);
});

$('#asignar').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   
    var sistema = button.data('sis');   
    var usuario = button.data('usu');
    var id = button.data('id');
    $('#id_asignar').val(id);
    $('#nombre_equipo_asignar').val(usuario);  
    $('#ip_equipo').val(sistema);    
});

$('#devolver').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   
 
    var id = button.data('id');   
    var cuenta = button.data('cuenta');
    var ip = button.data('ip');
    var empleado = button.data('empleado');
    
    $('#id_devolver').val(id);
    $('#empleado_devolver_nombre').val(empleado);  
    $('#usuario_devolver').val(cuenta);  
    $('#sistema_devolver').val(ip);    
 
});


$('#editModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);   
    var id_datos = button.data('id');   
    $.ajax({
        url: '/info_teletrabajo/' + id_datos + '/',   
        method: 'GET',
        success: function(data) {

            $('#ip_teletrabajo_editar').val(data.ip_teletrabajo_editar);
            $('#fecha_editar').val(data.fecha_editar);
            $('#nombre_equipo_editar').val(data.nombre_equipo_editar);
            $('#tipo_acceso_editar').val(data.tipo_acceso_editar);
            $('#observaciones_editar').val(data.observaciones_editar);
            $('#dst_editar').val(data.dst_editar);
            $('#firmware_editar').val(data.firmware_editar);
            $('#id_tele').val(data.id_tele);
            
          
        },
        error: function(xhr, errmsg, err) {
            console.log("Error: " + errmsg);
        }
    });
});      
</script>
{% endblock %}
